.navbarContainer{
    width: 250px;
    background-color: #1C1C25;
    border-radius: 0rem 1rem 1rem 0rem;
    position: relative;
    color: white;
    height: clamp(627px,100vh,100vh);
}
.navbar{
    height: 600px;
    /* background-color: red; */
    margin: 0 auto;
    position: relative;
    top: 27px;
    width: 209px;
    display: flex;
    text-transform: capitalize;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.navbarTitle{
    text-align: center;
    font-size: 26.5px;
}
.navbarLi{
    list-style: none;
    height: 17px;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.navbarLi__bg{
    background-color: #062141;
    border-radius: 1rem;
}
.navbarLi__mgTop{
    margin-top: 1rem;
}
.navbarA{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.navbarLi__mgBottom{
    margin-bottom: 1rem;
}
.navbarUl{
    width: 100%;
    row-gap: 1rem;
    display: flex;
    font-size: 12px;
    flex-direction: column;
}
.navbarUl__border{
    border-top: 1px solid rgba(255, 255, 255, 0.20);
}