.inputStyle{
    height: 40px;
width: 200px;
border-radius: .4rem;
background: transparent;
border: 1.5px solid white;
}

.inputStyle::placeholder{
    color: white;
    line-height: none;
    padding-left: 2.3rem;
    font-size: 12px;
    font-weight: lighter;
    text-transform: capitalize;
}
.relativeLabel{
    position: relative;
}
.iconInput{
    position: absolute;
    top: 0px;
    margin: 0 19px 0 12px;
}
.formControlValid{
    border-color: #5cb85c;
}
.formControlInvalid{
    border-color: #d9534f;
}